extends admin-layout

block content
  h1.page-title=title
  p An error stopped the application completing your request.
  p Please 
    a(href='javascript:history.back();') â† go back 
    | and start again