extends layout

block content
  #main
    .indent
      h1.page-title=title
      p Sorry, there was an error loading this page.
      p Please 
        a(href='/') â† go back 
        | and start again