extends layout

block content
  #home
    .indent.clearfix
      .intro
        h1 Welcome to Easy Sound Testing
        p Easy Sound Testing is designed to be the most effective sound and air testing in the UK. 
        p Simply tell us the postcode for the location of the test and how many flats or houses require tests, and we'll immediately let you know the best time to carry out your test to make sure you benefit from cost savings. 
        p.homebutton
          a(class='go-book', href='/search') Request a sound test »