!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
html(class='no-js', lang='en')
  <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= title
      |  - MACH Testing
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    link(rel='stylesheet', href='/styles/machsoundtests.css')
    script(src='/scripts/libs/modernizr-2.5.3.min.js')
    block scripts
  body
    #page
      header
        a(id="logo", href="/")
          img(src="/images/logo.png", alt="MACH Acoustics")
        p Call us on: <a href="tel:+448433094504" class="tel">0843 3094504</a> or email <a href="mailto:info@machtesting.co.uk">info@machtesting.co.uk</a>
        
      block content
      
      footer
        - var copyright_date = new Date().toString('yyyy')
        p Sound tests are performed by MACH Testing. For more information, please go to <a href="http://www.machtesting.co.uk/">machtesting.co.uk</a>
        p(id='terms') <a href='/terms.html'>Terms & Conditions</a> | Location information courtesy of <a href="http://www.openstreetmap.org">OpenStreetMap</a> and <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> | &copy; #{copyright_date} MACH Acoustics. 
        //-p(id='terms') Location information courtesy of <a href="http://www.openstreetmap.org">OpenStreetMap</a> and <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> | &copy; #{copyright_date} MACH Acoustics. 
        
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
      script
        window.jQuery || document.write('<script src="/scripts/libs/jquery-1.7.2.min.js"><\/script>')
      
      script(src="/scripts/plugins.js")
      script(src="/scripts/script.js")
    
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8255889-3']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      
  //-
    | I'll write a proper 'how I made this' post later, but for now, here's a quick list of the ingredients:
    | - nodejs (express, mongodb, jade)
    | - openstreetmap and mapquest APIs
